/* Page.css */
.chatbox {
  height: 100px;
  width: auto;
  position: fixed;
  bottom: 0px; /* Adjust the distance from the bottom as needed */
  right: 20px; /* Adjust the distance from the right as needed */
  z-index: 1000;
  cursor: pointer;
  border-radius: 100%;
}

.chatbox span {
  position: absolute;
}

.chatbox span:last-child {
  opacity: 1;
}

.chatbot-container {
  position: absolute;
  margin-right: 85px;
  bottom: 200px; /* Adjust the distance from the bottom as needed */
  right: 200px; /* Adjust the distance from the right as needed */
  z-index: 200; /* Ensure the chatbot appears above other content */
  opacity: 1;
  pointer-events: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Add transition for smooth animation */
}

.show-chatbot .chatbot-container {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}